<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= administrator_root_path %>">Админка</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "Коллекции", administrator_collections_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Плитки", administrator_plates_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Запросы", administrator_invoices_path, class: "nav-link" %></li>
      </ul>
    </div>

    <%= link_to "Выйти", destroy_admin_session_path, class: "btn btn-outline-light" %>
  </div>
</nav>
